[submodule "lib/minimal-json-c-parser"]
	path = lib/minimal-json-c-parser
	url = https://github.com/beyluta/minimal-c-json-parser
[submodule "lib/c-yaml-parser"]
	path = lib/c-yaml-parser
	url = https://codeberg.org/beyluta/c-yaml-parser
