@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

:root {
  --black: #323232;
  --lightgray: #f1f1f1;
  --gray: #b9b9b9;
  --darkgray: #b8b8b8;
  --blue: #18a8fa;
  --darkblue: #1393db;
  --purple: rgb(211, 34, 211);
  --orange: rgb(255, 102, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
}

svg {
  fill: var(--gray);
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.half {
  max-width: 100vw;
  width: 100%;
}

.sidebar {
  height: 100vh;
  max-width: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-right: solid 1px rgba(1, 1, 1, 0.08);
  gap: 80px;
}

.sidebaricons {
  gap: 60px;
  padding-bottom: 30px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  padding-top: 30px;
  border-bottom: solid 1px rgba(1, 1, 1, 0.08);
  padding-bottom: 15px;
}

.logo > img {
  width: 45px;
}

.version {
  font-size: 12px;
  color: var(--gray);
}

.maincontent {
  width: 100%;
  padding: 25px 30px;
}

.headings {
  margin-bottom: 50px;
}

.headings > h2 {
  margin: 0;
  padding: 0;
}

.headings > h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

@keyframes loadingwidget {
  0% {
    background: var(white);
  }
  50% {
    background: var(--lightgray);
  }
  100% {
    background: var(white);
  }
}

.widgets {
  gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
  max-height: calc(100vh - 300px);
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px;
}

.widget {
  position: relative;
  width: 300px;
  aspect-ratio: 1/1;
  flex-grow: 1;
  border-radius: 4px;
  animation: loadingwidget 2s linear infinite;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: solid 1px rgba(1, 1, 1, 0.08);
}

.widget > .label {
  position: absolute;
  top: -30px;
  left: 0;
  color: var(--black);
  border-bottom: 1px solid rgba(1, 1, 1, 0.08);
  font-weight: bold;
  font-size: 18px;
}

.widget:hover {
  opacity: 0.5;
  z-index: 999;
}

.widget > iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  border: none;
  position: absolute;
  pointer-events: none;
}

.searchcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  height: 50px;
  margin-top: 20px;
  border: solid 1px rgba(1, 1, 1, 0.08);
}

.search {
  margin-left: 25px;
  gap: 10px;
  width: 100%;
}

.search > input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: var(--darkgray);
  width: 100%;
}

.search > input::placeholder {
  color: var(--gray);
}

.folder {
  margin: 0 25px 0 0;
  height: 20px;
}

.updates {
  gap: 20px;
  display: none;
}

.update {
  max-width: 100%;
  padding: 50px 0 50px 0;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(1, 1, 1, 0.08);
}

.update > svg {
  fill: var(--black);
  margin: 0;
  padding: 0;
}

.update > h3 {
  fill: var(--black);
  margin: 0;
  padding: 0;
}

.update > p {
  margin: 0;
  padding: 0;
}

.updatechecker {
  gap: 15px;
  transition: all 0.2s ease-in-out;
  padding: 0px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.updatechecker:hover {
  gap: 15px;
  background-color: rgb(245, 245, 245);
}

.updatechecker > svg {
  fill: var(--black);
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

.settings {
  gap: 20px;
  flex-wrap: wrap;
  display: none;
}

.setting {
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.setting > p {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.setting > .runWidgetsOnStartup:hover::after {
  content: "Widgets that weren't closed in the previous session will be opened on startup.";
  color: white;
  padding: 8px 10px;
  width: max-content;
  max-width: 400px;
  border-radius: 4px;
  transform: translateY(70px);
  background: var(--black);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.setting > .hideWidgetsOnFullscreenApplication:hover::after {
  content: "Widgets will be closed to save computer resources. They will be reopened when the fullscreen application is closed.";
  color: white;
  padding: 8px 10px;
  width: max-content;
  max-width: 400px;
  border-radius: 4px;
  transform: translateY(90px);
  background: var(--black);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.setting > .hideWidgetManagerOnStart:hover::after {
  content: "The main Widget-Manager window will be hidden by default when the application starts.";
  color: white;
  padding: 8px 10px;
  width: max-content;
  max-width: 400px;
  border-radius: 4px;
  transform: translateY(70px);
  background: var(--black);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.switch {
  width: 39px;
  height: 23px;
  border-radius: 20px;
  background-color: var(--darkgray);
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0 5px;
}

.switchon {
  justify-content: flex-end;
  background: var(--darkblue);
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  z-index: 999;
}

.settingscard {
  width: max-content;
  padding: 10px 30px;
  border-radius: 4px;
  flex-grow: 1;
  height: max-content;
  border: solid 1px rgba(1, 1, 1, 0.08);
}

.development {
  gap: 30px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  height: 100%;
  display: none;
}

.instruction {
  margin: 0;
}

.instruction > p {
  margin: 0;
}

.instruction > h3 {
  margin: 0;
  padding: 0;
}

.code-blocks {
  gap: 20px;
  margin: 20px 0 0 0;
}

.code {
  width: calc(100% - 50px);
  color: var(--black);
  padding: 10px;
  border-radius: 4px;
  border: solid 1px rgba(1, 1, 1, 0.08);
}

.settings-title {
  border-bottom: solid 1px rgba(1, 1, 1, 0.08);
  padding-bottom: 15px;
}
